@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Poppins", sans-serif;
}

.card {
    /* background-color:antiquewhite; */
    width: 80%;
    max-width: 600px;
    height: 280px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.form-container {
    background-color: #f9f7f7;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}

.input-cont {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 8px;
    border-radius: 10px;
    background-color: #e7e6e6;
    font-size: 16p;
}

.input-rigth {
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-left {
    width: 50%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
}

.signup {
    background-color: #4361ee;
    color: #f5f5f5;
    border: none;
    padding: 12px 60px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.btn-content {
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 15px;
}